@import 'fonts'
body
    margin: 0
    font-family: 'TT Norms Pro', sans-serif
    font-weight: 400
    font-size: 14px
*
    box-sizing: border-box
a
    transition: all 0.3s
input, textarea, button, select
    font-family: 'TT Norms Pro', sans-serif
    font-weight: 400
    border-radius: 0
    &:focus
        outline: none
.fullpage
    overflow: hidden
@import "interface"
@import "prod"
@import "about"
@import "zvd"
@import "services"